@import 'nib'

body
	background white
	color black
	padding 20px
	margin 0px
	font-family 'Helvetica Neue', Helvetica, Arial, sans-serif

#options
	absolute top left bottom
	width 370px
	padding 20px
	box-sizing border-box
	
	.form-group
		padding-top 10px
		padding-bottom 10px
		
		label
			min-width 120px
			font-size 16px
			color rgb(100,100,100)
			display inline-block
			text-align right
			padding-right 10px
		
		&.center
			text-align center

input
	font-size 14px
	padding 4px

button
	font-size 14px
	padding 4px

#preview
	absolute top left 370px right bottom
	background rgb(245,245,245)
	border-left 1px solid rgb(230,230,230)
	text-align center
	
	.svg-popover
		transform translate(-50%, -50%)