@import 'nib'

body
	background white
	color black
	padding 20px
	margin 0px
	font-family 'Helvetica Neue', Helvetica, Arial, sans-serif

#options
	absolute top left bottom
	width 370px
	padding 20px
	box-sizing border-box
	
	.btn-group
		display inline-block
		
		button
			background linear-gradient(top, rgb(255,255,255), rgb(245,245,245))
			border 1px solid rgb(180,180,180)
			border-left none
			margin 0px
			// width 46px
			padding 5px 6px
			
			&:active
				color black
				
				&:hover
					background linear-gradient(bottom, rgb(240,240,240), rgb(235,235,235))
					box-shadow inset 0px 1px 3px rgba(0,0,0,0.1)
			
			&.active
				background linear-gradient(bottom, rgb(240,240,240), rgb(235,235,235))
				box-shadow inset 0px 1px 3px rgba(0,0,0,0.1)
			
			&:first-child
				border-left 1px solid rgb(180,180,180)
				border-top-left-radius 2px
				border-bottom-left-radius 2px
			
			&:last-child
				border-top-right-radius 2px
				border-bottom-right-radius 2px
	
	.form-group
		padding-top 10px
		padding-bottom 10px
		
		label
			min-width 120px
			font-size 16px
			color rgb(100,100,100)
			display inline-block
			text-align right
			padding-right 10px
		
		&.center
			text-align center

input
	font-size 14px
	padding 4px

button
	font-size 14px
	padding 4px

#preview
	absolute top left 370px right bottom
	background rgb(245,245,245)
	border-left 1px solid rgb(230,230,230)
	text-align center
	
	.svg-popover
		transform translate(-50%, -50%)